$font-url: "https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

:root {
  --pn-body-fonts: "Bricolage Grotesque", sans-serif;
  --pn-inter-fonts: "Inter", sans-serif;
}
