@use "../utils" as *;

.blog-details-area {
  .blog-img {
    margin-bottom: 24px;
    border-radius: 8px;
  }
  .blog-details-content {
    .common-title {
      margin-top: 32px;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 1.3;
      font-weight: 500;
      @media #{$xs,$md,$lg} {
        font-size: 24px;
      }
    }
    p {
      font-size: 16px;
      color: var(--pn-text-color-two);
      font-family: var(--pn-inter-fonts);
      line-height: 1.6;
      font-weight: 400;
    }
    p + p {
      margin-top: 25px;
    }
    blockquote {
      background-color: var(--pn-bg-color-two);
      border-radius: 8px;
      padding: 40px 60px 40px 66px;
      margin: 40px 0;
      @media #{$xs,$md,$lg} {
        padding: 20px;
        background-color: transparent;
        padding: 0 20px;
      }
      .blockquote-title {
        color: var(--pn-text-color-one);
        font-size: 24px;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 24px;
        font-style: italic;
        @media #{$xs,$md,$lg} {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      .name {
        color: var(--pn-text-color-two);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
        @media #{$xs,$md,$lg} {
          font-size: 14px;
        }
      }
      &::after {
        width: 2px;
        height: 95px;
        background-color: var(--pn-primary);
        position: absolute;
        top: 12px;
        left: 0px;
        content: "";
        @media #{$xs,$md,$lg} {
          height: 98%;
          top: 0;
          width: 4px;
        }
      }
    }
    .list-info {
      margin-top: 16px;
      margin-bottom: 40px;
      li {
        color: var(--pn-text-color-two);
        font-family: var(--pn-inter-fonts);
        font-size: 16px;
        font-weight: 400;
        line-height: 2.2;
        position: relative;
        padding-left: 24px;
        &::before {
          background-color: var(--pn-bg-color-one);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: "";
          position: absolute;
        }
      }
    }
    .tags-and-share {
      @media #{$xs,$md,$lg} {
        gap: 20px;
      }
      .label {
        color: var(--pn-text-color-one);
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        margin-right: 24px;
      }
      .tags {
        ul {
          gap: 8px;
          li {
            a {
              padding: 8px 12px;
              border: 1px solid var(--pn-border-color);
              border-radius: 8px;
              font-size: 14px;
              font-weight: 500;
              line-height: 1.1;
              color: var(--pn-text-color-six);
              background-color: transparent;
              transition: 0.3s;
              &:hover {
                background-color: var(--pn-primary);
                color: var(--pn-white);
              }
            }
          }
        }
      }
    }
    .related-blog-row {
      --bs-gutter-y: 40px;
      .blog-item {
        margin-bottom: 0;
      }
    }
  }
}
