@use "../utils" as *;

.contact-area {
  .intro-area {
    .text {
      .sort-info {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .contact-info {
    margin-top: 24px;
    gap: 42px;
    p {
      font-size: 24px;
      color: var(--pn-text-color-one);
    }
  }
  .contact-map {
    iframe {
      width: 100%;
      height: 380px;
      border-radius: 16px;
      overflow: hidden;
    }
  }
}
