@use "../utils" as *;

.works-area {
  .intro-area {
    .text {
      .sort-info {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .project-area {
    margin-top: 48px;
    .project-item {
      margin-bottom: 40px;
      @media #{$xs} {
        margin-bottom: 25px;
      }
      .img {
        padding: 48px;
        padding-bottom: 0;
        @media #{$md,$lg} {
          padding: 25px;
        }
        @media #{$xs} {
          padding: 15px;
        }
      }
      .text {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        @media #{$xs} {
          flex-direction: column;
          gap: 15px;
        }
        .info {
          .project-title {
            color: var(--pn-text-color-one);
            font-size: 24px;
            font-weight: 500;
            line-height: 1.1;
            margin-bottom: 8px;
            transition: 0.3s;
            @media #{$xs} {
              font-size: 18px;
            }
            &:hover {
              color: var(--pn-primary);
              text-decoration: underline;
            }
          }
          .project-category {
            color: var(--pn-text-color-two);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.1;
          }
        }
      }
    }
  }
}
